#playlists-view-wrapper {
  width: 100%;
  height: 100%;
  background-color: #15181f;
  overflow-x: hidden;
  overflow-y: scroll;
}

#playlists-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #715ee6;
  background-color: none;
  color: white;
  z-index: 100;
  position: fixed;
}

.playlist-navbar-underline {
  width: 100%;
  height: 2px;
  background-color: #715ee6;
}

.playlists-navbar-dimensions {
  width: 100%;
  height: 50px;
}

#playlists-grid {
  overflow-y: scroll;
  max-height: 95%;
  padding: 15px;
}

.nav-button {
  padding: 0.5em 1em;
  margin: 0px;
}

.nav-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
}

.playlist-grid-item {
  width: 100%;
  height: 100%;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.playlist-grid-item:hover {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.fill-height {
  width: auto;
  height: 100%;
}

.image-border {
  height: fit-content;
  width: fit-content;
  padding: 2px;
  border: 2px solid black;
}

#playlist-details-page {
  height: 95%;
  overflow-y: scroll;
}

#playlist-details-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#playlist-details-header-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playlist-details-header-author {
  align-items: center;
}

#playlist-title {
  color: white
}

#playlist-author {
  color: gray
}

.song-row {
  display: flex;
  justify-content: space-between;
}

.song-row-main {
  max-width: 75%;
  align-items: center;
}

.song-row-links {
  max-width: 25%;
  align-items: center;
  display: flex;
}

.attribute-name {
  font-weight: 500;
}

#statistics-tempo-loudness-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}
